.listContainer{
    margin-top: 5%;
    margin-left: 10%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: white;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
    /* list-style:decimal; */
    font-size: 25px;
}

li::marker{
    color:#097694;
    font-size: 30px;
}